@import './reset.css';

a, a:hover, a:visited, a:link, a:active{
  color:black;
  text-decoration:none;
}
.nav {
  background: #eff2f7;
  line-height: 60px;
  margin-bottom: .5rem;
}
.nav h1 {
  text-align: center;
  font-size: 2rem;
}

.g-align-right {
  text-align: right;
}
.a-align-left {
  text-align: left;
}
.g-breadcrumb{
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.g-search {
  margin-top: 0.6rem;
}

.g-text-center{
  text-align: center;
  margin: 0 auto;
}

.g-pagination {
  padding:1rem 0;
}

.content p {
  text-indent: 2rem;
  padding-bottom: 1rem;
}
.avatar {
    height:2rem;
}
img.avatar {
  border-radius: 2rem;
}